.card {
  height: 230px;
  width: 130px;
  margin: 15px;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.616);
  border-radius: 5px;
  color: white;
}
.cardImg {
  max-height: 180px;
  min-height: 180px;
  max-width: 130px;
  min-width: 130px;
  border-radius: 5px;
}
.title {
  padding-left: 2px;
  font-size: 15px;
  font-weight: 700;
}
.title:hover {
  color: rgb(0, 101, 196);
}
.years {
  padding-left: 2px;
}
.footer {
  background-color: red;
  /* height: 100%; */
}
.character {
  font-size: 14px;
}
